[Unit]
Description=NXDN Parrot
After=network.target
Documentation=https://github.com/g4klx/NXDNClients

[Service]
Type=simple
User=@SYSTEM_USER@
Group=@SYSTEM_USER@
EnvironmentFile=-/etc/default/nxdn-parrot
WorkingDirectory=/var/lib/nxdn
ExecStart=@CMAKE_INSTALL_FULL_BINDIR@/NXDNParrot $NXDN_PARROT_PORT
Restart=always

[Install]
WantedBy=multi-user.target
